@font-face {
  font-family: 'Oceanic TRIAL Regular';
  src: url(../fonts/TRIAL_Oceanic-Regular.otf);
}
@font-face {
  font-family: 'Gilroy-Light';
  src: url(../fonts/Gilroy-Light.otf);
}
.aboutSection {
  display: flex;
  align-items: center;
  background-color: #0a2d66;
  color: white;
  padding: 90px;
  
}

.textContainer {
  width: 50%;
  padding-right: 20px;
}

.title {
  font-size: 56px;
  margin-bottom: 20px;
  break-after: auto;
  font-family: 'Oceanic TRIAL Medium';
}

.text {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
  font-family: 'Gilroy-Light';
}

.button {
  background-color: #082643;

  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #db5d26;
}

.imageContainer {
  width: 50%;
  position: relative;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.subcolumn {
  display: flex;
  width: 1000px;
  flex-direction: row;
  gap: 5px;
}