.aboutSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003366;
  color: white;
  padding: 40px;
}

.textContainer {
  width: 50%;
  padding-right: 20px;
}

.title {
  font-size: 36px;
  margin-bottom: 20px;
}

.text {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.button {
  background-color: #082643;

  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #db5d26;
}

.imageContainer {
  width: 50%;
  position: relative;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}