@font-face {
  font-family: 'Gilroy-Light';
  src: url(../fonts/Gilroy-Light.otf);
}
.main {
  min-height: 100vh;
  background-color: #0a2d66;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding: 3rem 2rem;
  font-family: 'Gilroy-Light' ;
}

.bgTitle {
  position: absolute;
  font-family: 'Playfair Display', serif;
  font-size: 18rem;
  color: rgba(255, 255, 255, 0.184);
  user-select: none;
  pointer-events: none;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.columns {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2rem;
  margin-top: 28ch ;
  max-width: 1100px;
  width: 100%;
  z-index: 2;
}

/* Левая колонка */
.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.columnTitle {
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  font-weight: 700;
}

.text {
  color: #cbd5e1;
  font-size: 1rem;
  line-height: 1.6;
  max-width: 370px;
} 

.button {
  background-color: #E9663D;
  color: white;
  border: none;
  padding: 0.8rem 1.8rem;
  border-radius: 1px;
  font-weight: 600;
  font-family: 'Gilroy-Light';
  cursor: pointer;
  width: 140px;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #181554;
  border: 1px solid white;
}

/* Центральная колонка */
.centerColumn {
  display: flex;
  justify-content: center;
  margin-top: -16ch;
}

.image {
  z-index: 10;
  max-height: 920px;
}

/* Правая колонка */
.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 3ch;
}
.subcolumn {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.subcontainer {
  padding: auto;
}

.rightText {
  color: #cbd5e1;
  font-size: 1 rem;
  line-height: 1.6;
  max-width: 370px;
}

.rightText p {
  margin-bottom: 0.5rem;
}

/* Адаптивность */
@media (max-width: 900px) {
  .bgTitle {
    font-size: 10rem;
  }

  .columns {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .leftColumn,
  .rightColumn {
    align-items: center;
  }

  .text,
  .rightText {
    max-width: none;
  }
}
