@font-face {
  font-family: 'Oceanic TRIAL Regular';
  src: url(../fonts/TRIAL_Oceanic-Regular.otf);
}
@font-face {
  font-family: 'Gilroy-Light';
  src: url(../fonts/Gilroy-Light.otf);
}
.FoodSlider{
  min-height: 100vh;
  background-color: #0a2d66;
  color: #fff;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding: 3rem 2rem;
  font-family: 'Gilroy-Light' ;
}

.subcolumn {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.subcolumn1 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: space-between;
}
.title {
  font-size: 56px;
  margin-bottom: 20px;
  break-after: auto;
  font-family: 'Oceanic TRIAL Regular';
}
.card{
    width: 1400px;
    height: 400px;
    background-color: #496192;
    justify-content: space-between;
    margin-left: 2%;
    margin-top: 70px;
}
.textcont{
    padding: 30px;
    margin-left: 70px;
    width: 400px;
}
.h2{
    font-family: 'Oceanic TRIAL Regular';
    font-weight: lighter;
    font-size: 40px;
}
.h3{
    font-weight: lighter;
}
.button {
  background-color: #E9663D;
  color: white;
  border: none;
  padding: 0.8rem 1.8rem;
  border-radius: 1px;
  font-weight: 600;
  font-family: 'Gilroy-Light';
  cursor: pointer;
  width: 160px;
  height: 60px;
  transition: background-color 0.2s ease;
}
.image{
    margin-top: -66px;
    margin-left: 140px;
}