@font-face {
  font-family: 'Gilroy-Light';
  src: url(../fonts/Gilroy-Light.otf);
}
@font-face {
  font-family: 'Oceanic';
  src: url(../fonts/TRIAL_Oceanic-Regular.otf);
}
.footer {
    width: 100%;
    height: 650px;
    background-color: #4164ab8e;
    color: #fff;
    font-family: 'Gilroy-Light';
}

.container {
    padding: 80px;

}
.list {
    display: flex;
    flex-direction: column;
    line-height: 1px;
    font-weight: light;
    outline: none;
}
.h5{
    font-weight: lighter;
    font-size: 16px;
    margin-bottom: 5px;
}
.h3{
    font-family: 'Oceanic';
    font-weight: lighter;
}
.textcont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.textcont1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 290px;
}

.bgTitle {
  position: absolute;
  font-family: 'Playfair Display', serif;
  font-size: 18rem;
  color: #0118456b;
  user-select: none;
  pointer-events: none;
  left: 50%;
  margin-top: 120px;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}