/* components/Header.module.css */
.header {
    background-color: rgb(27, 27, 91);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 1rem 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.logo a {
  font-size: 2rem;
  font-weight: bold;
  color: #f9fbfc;
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: 'Arial', sans-serif;
}
.logo a:hover{
  color: #dd7016;
}

.navList {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navList li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.3s ease;
  font-family: 'Arial', sans-serif;
}

.navList li a:hover {
  color: #dd7016;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    gap: 1rem;
  }
  
  .navList {
    gap: 1rem;
  }
}